[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairo-nile = "*"
requests = "*"
openzeppelin-cairo-contracts = "*"

[dev-packages]
tox = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
